/* основной шрифт Roboto – 400,500,700,900 */
/* дополнительный шрифт Raleway – 700 */
/* основной цвет фона #ffffff */
/* основной цвет для текста #757575 */
/* дополнительный цвет текста #212121 */
/* дополнительный цвет #2196F3 */
/* цвет иконок #AFB1B8 */
/* кубик по макету cubic-bezier(0.4, 0, 0.2, 1) */
:root {
    --main-background-color: #ffffff;
    --main-color-text: #757575;
    --complementary-color-text: #212121;
    --complementary-color: #2196F3;
    --icon-color: #AFB1B8;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 0.03em;
    background-color: var(--main-background-color);
    color: var(--main-color-text);
}
h1 { 
    margin: 0;
    padding: 0;
    color: #ffffff;
}
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
   color: var(--complementary-color-text);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
padding-top: 94px;
padding-bottom: 94px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}
.img {
    display: block;
}
input {
    padding: 0;
    margin: 0;
}
/* header шапка */
.header {
padding-top: 24px;
padding-bottom: 25px;
border-bottom: 1px solid #ECECEC;
}

.container-header {

    display: flex;
    align-items: center;
    
}

.nav {
    display: flex;
}

.logo-header,
.logo-footer {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.14;
        letter-spacing: 0.03em;
}
.logo-header { 
    color: #000000;
    text-decoration: none;
}
.logo-footer { 
    display: inline-block;
    margin-bottom: 20px; 
color: #ffffff;
text-decoration: none;
}
.logo-web {
    color: var(--complementary-color);
}

.list-nav {
    display: flex;
    margin-left: 93px;
    align-items: center;
}
.list-nav > .items + .items {
margin-left: 50px;
}
.link-nav {
    display: block;
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    color: var(--complementary-color-text);

    transition: color 250ms var(--cubic-bezier);
}

.link-nav:hover,
.link-nav:focus {
color: var(--complementary-color);
}


.studio {
    position: relative;
    color: var(--complementary-color);
}
.studio::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--complementary-color);
    transform: translateY(33px);
}

.portfolio {
    position: relative;
    color: var(--complementary-color);
}
.portfolio::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--complementary-color);
    transform: translateY(33px);
}

.links-header {
    display: flex;
margin-left: auto;
}

.icon-mail {
    margin-right: 10px;
fill: currentColor;
}
.icon-mail:hover{
    fill: var(--complementary-color);
}
.icon-phone {
    margin-right: 10px;
    fill: currentColor;
}
.icon-phone:hover {
    fill: var(--complementary-color);
}
.link-header {
    display: flex;
    align-items: center;
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color-text);
    transition: color 250ms var(--cubic-bezier);
}
.link-header:hover,
.link-header:focus {
color: var(--complementary-color);
}

.links-header>.number {
    margin-left: 30px;
}

/* main */
/* герой hero */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-image: linear-gradient(
        to right,
         rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
          ), url(../images/Img_hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.container-hero {
    text-align: center;
}
.main-title {
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 900;
    width: 696px;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase
}
.btn-main {
    display: flex;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 32px;
        border: 1px solid transparent;
        border-radius: 4px;
        min-width: 200px;

    font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em; 
    background-color: var(--complementary-color);
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--cubic-bezier);
    z-index: 1;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(1.2);
    
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%) scale(1);
   transition: transform 250ms var(--cubic-bezier);
    width: 528px;
    height: 581px;
    padding-top: 40px;
    padding-right: 19px;
    padding-bottom: 40px;
    padding-left: 41px;
    background-color: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
         0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
}
.btn-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    top: 11px;
    right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.icon-close { 
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    transition: fill 250ms var(--cubic-bezier);
}
.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
fill: var(--complementary-color);
}
/* Form */
.title-form {
    margin-bottom: 12px;
    font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
}
.form {
width: 448px;
}
.form-feild {
    margin-bottom: 10px;
    
}
.form-label,
.label-textarea {
    position: relative;
    text-align: start;
display: block;
}
.text-form,
.text-textarea {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--main-color-text);

}
.form-input { 
display: block;
width: 448px;
height: 40px;
padding-top: 12px;
padding-left: 42px;
padding-bottom: 12px;
border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms var(--cubic-bezier);
}
.icon-form {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transition: fill 250ms var(--cubic-bezier);
}
.form-input:focus {
    border: 1px solid var(--complementary-color);
}
.form-input:focus + .icon-form {
    fill: var(--complementary-color);
}
.textarea-feild {
    margin-bottom: 20px;
}
.form-textarea {
display: block;
width: 448px;
height: 120px;
resize: none;
padding: 12px 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

}
.textarea-feild textarea::placeholder {
    font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
}
.checkbox-feild {
    margin-bottom: 30px;
}
.label-checkbox {
    display: flex;
    justify-content: center;
}
.checkbox {
    position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
.icon-check {
    display: block;
    width: 16px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 4px;
    transition: background-color 250ms var(--cubic-bezier),
    border-color 250ms var(--cubic-bezier);
}
.checkbox:checked + .icon-check {
    background-color: var(--complementary-color);
    border-color: var(--complementary-color);
}
.text-checkbox {
margin-left: 8.38px;
}
.link-form {
    color: var(--complementary-color);
}
.button-form {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px 55px;
    font-weight: 700;
     font-size: 16px;
     line-height: 1.87;
     display: flex;
     align-items: center;
     text-align: center;
     letter-spacing: 0.06em;
     background-color: var(--complementary-color);
     color: #FFFFFF;
     border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}
/* benefits преимущества */
.benefits {
    
}
.list-benefits {
    display: flex;
}
.container-benefits {
    display: flex;
    justify-content: center;
    align-items: center;
width: 270px;
height: 120px;
margin-bottom: 30px;
border-radius: 4px;
background-color: #F5F4FA;
}
.icon-benefits {
    width: 70px;
    height: 70px;
   
}
.list-benefits > .items {
    margin-left: 30px;
}
.list-benefits > .items:first-child {
    margin-left: 0;
}

.title-benefits {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.text-benefits {
    line-height: 1.71;
}

/*  деятельность activity */
.activity {
padding-top: 0;
}

.title-activity,
.title-team,
.title-clients {
font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em
}
.title-activity {
    margin-bottom: 50px;
}

.list-activity {
display: flex;
}

.list-activity > .items {
    margin-left: 30px;
}
.list-activity>.items:first-child {
    margin-left: 0;
}

.activity-thumb {
    position: relative;
}
.activity-thumb::before {
   content: " ";
   position: absolute;
   width: 100%;
   height: 70px;
   left: 0;
   bottom: 0;
   background-color: rgba(47, 48, 58, 0.8);
}

.text-activity {
    position: absolute;
    min-width: 205px;
    bottom: 27px;
    left: 83px;
font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
/* команда team */
.team {
    background-color: #F5F4FA;
}

.title-team {
    margin-bottom: 50px;
}

.list-team {
display: flex;

}
.list-team >.items {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    
    margin-left: 30px;
}
.list-team >.items:first-child {
    margin-left: 0;
}
.container-people {
    background-color: var(--main-background-color);
padding-top: 30px;
padding-bottom: 25px;
}

.title-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.text-team {
    margin-bottom: 16px;
font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.list-social-networks {
display: flex;
justify-content: center;
}

.link-team {
display: inline-block;
    text-align: center;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    transition: transform 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier);
}

.items-icon:hover .link-team {
    transform: rotateY(360deg);
    background-color: var(--complementary-color);
}
.link-team:focus {
    transform: rotateY(360deg);
        background-color: var(--complementary-color);
}
.items-icon:hover .icon-social-network {
    fill: #fff;
}
.link-team:focus .icon-social-network{
    fill: #fff;
}

.list-social-networks .items:nth-child(n+2) {
    margin-left: 10px;
}
.icon-social-network {
    fill: var(--icon-color);
    width: 20px;
    height: 20px;
    transition: fill 250ms var(--cubic-bezier);
}
/* regular customers постоянные клиенты*/
.title-clients {
    margin-bottom: 50px;
}

.list-clients {
display: flex;
justify-content: center;
}
.list-clients > .items-clients:nth-child(n+2){
    margin-left: 30px;
}

 .link-clients {
    display: flex;
        justify-content: center;
        align-items: center;
width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms var(--cubic-bezier);
 }

.icon-clients {
    transition: fill 250ms var(--cubic-bezier);
 fill: var(--icon-color);
}
.items-clients:hover .link-clients{
    border: 1px solid var(--complementary-color);
 }

.link-clients:focus {
    border: 1px solid var(--complementary-color);
}
.items-clients:hover .icon-clients {
    fill: var(--complementary-color)
}

.link-clients:focus .icon-clients {
    fill: var(--complementary-color);
}

/* main portfolio */
.main-portfolio {

}

.list-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.list-button > .items:nth-child(n+2) {
margin-left: 9px;
}
.btn-portfolio {
    padding: 6px 0;
    border-radius: 4px;
    border: 1px solid transparent;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
    cursor: pointer;
   background-color: #F5F4FA; 
   color: var(--complementary-color-text);

   transition: background-color 250ms var(--cubic-bezier),
   box-shadow 250ms var(--cubic-bezier),
   color 250ms var(--cubic-bezier);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: var(--complementary-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-all {
min-width: 73px;
}
.btn-website {
min-width: 128px;
}
.btn-applications {
min-width: 145px;
}
.btn-design {
min-width: 103px;
}
.btn-marketing {
min-width: 130px;
}
.list-works {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.items-works {
    margin: 15px;
    transition: box-shadow 250ms var(--cubic-bezier);
    
}
.items-works:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}
.thumb-works {
    position: relative;
    overflow: hidden;
}
.thumb-works::before {
    content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(33, 150, 243, 0.9);
transform: translateY(101%);
transition: transform 250ms var(--cubic-bezier);
}
.thumb-works:hover::before {
transform: translateY(0);
}
.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--cubic-bezier);
}
.thumb-works:hover .overlay {
    transform: translateY(0);
}
.overlay .text {
    width: 322px;
    font-size: 18px;
        line-height: 1.55;
        color: #FFFFFF;
}
.container-works {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.list-works .title {
    margin-bottom: 4px;
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.list-works .text {
   
    font-size: 16px;
line-height: 1.87;
}
 /* footer подвал */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
background-color: #2F303A;
}
.container-footer {
    display: flex;
    align-items: center;
}
.container-address {
  width: 231px;
}
.address {
    width: 321px;
margin: 0;
}
.text-footer {
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
color: #ffffff;
} 

.link-footer {
    margin-bottom: 9px;
    display: inline-block;
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
color: rgba(255, 255, 255, 0.6);
transition: color 250ms var(--cubic-bezier);
}
.link-footer:last-child {
    margin-bottom: 0;
}
.link-footer:hover,
.link-footer:focus {
color: var(--complementary-color);
}

.footer-social-network {
margin-left: 70px;
}
.text-invitations {
    margin-bottom: 20px;
    font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.list-footer {
    display: flex;

}
.list-footer .items-footer:nth-child(n+2) {
    margin-left: 10px;
}
.link {
display: inline-block;
    text-align: center;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier);
}
.items-footer:hover .link {
    transform: rotateZ(360deg);
background-color: var(--complementary-color);
}
.link:focus {
    transform: rotateZ(360deg);
        background-color: var(--complementary-color);
}

.link .icon-social-network {
    width: 20px;
    height: 20px;
    fill: #fff;
}
.form-footer {
display: flex;
}
.form-footer > button {
    align-self: flex-end;
}
.field-footer {
margin-left: 93px;
}
.label-footer {
display: block;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;
}
.input-footer {
display: block;
width: 358px;
height: 50px;
margin-top: 10px;
padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: #ffffff;
}
.button-footer {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 29px;
    font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        background-color: var(--complementary-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border: 1px solid transparent;
            border-radius: 4px;
        color: #FFFFFF;
        cursor: pointer;
}
.icon-button {
    margin-left: 10px;
}
/* test */
/* .btn-test {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 15px 40px;
    border: 4px solid orange;
    border-radius: 6px;
    background-color: red;
    color: black;
    cursor: pointer;
    transition: background-color 1000ms linear,
    color 1000ms linear;
    overflow: hidden
}
 .btn-test:hover,
 .btn-test:focus {
background-color: #000000;
color: red;
 }
 .test-icon {
    fill: currentColor;
   transition: transform 1000ms linear;
 }
 .btn-test:hover .test-icon {
transform: translateY(-40px);
 }
 .icon-test {
    position: absolute;
    top: 50%;
    left: 43px;
    transform: translateY(calc(-50% + 40px));
    transition: transform 1000ms linear;
    fill: currentColor;
 }
 .btn-test:hover .icon-test {
    transform: translateY(-50%);
 } */